/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

section {
    max-width: 1128px;
    margin: 0 auto;
    margin-top: 100px;
}

/* Shared Style */
.flex {
    display: flex;
}



/* header */
#header {
    display: flex;
    justify-content: center;
    align-items: center;

}

#header img {
    width: 365.06px;
    height: 564.94px;
}

.banner-content {
    max-width: 505px;
}

.banner-side-image {
    margin-left: 175px;
    /* background-image: url("../images/shapes/shape-4.png"); */
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%; */

}

.Mission {
    color: rgb(255, 173, 90);
}

.banner-heading {
    font-family: Yeseva One;
    font-size: 3.75rem;
    font-weight: 400;
    text-align: left;
    border-left: 5px solid rgb(255, 89, 89);
    border-radius: 5px;
    padding-left: 10px;
}

.banner-description {
    color: rgb(62, 62, 62);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.btn {
    border-radius: 5px;
    background: rgb(255, 89, 89);
    padding: 12px;
    color: white;
    border: none;
}

/* Mission-2024 */
.section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.mission-card-title {
    color: rgb(0, 0, 0);
    font-size: 1.7rem;
    font-weight: 600;
    text-align: left;
    margin-top: 0px;
}

.mission-card img {
    width: 126px;
    height: 126px;
}

.mission-container {
    gap: 20px;
}

.mission-card {
    padding: 25px 30px;
}

#mission-card-1 {
    border-radius: 26px;
    background: rgba(79, 157, 166, 0.1);
}

#mission-card-2 {
    border-radius: 26px;
    background: rgba(255, 89, 89, 0.1);
}

#mission-card-3 {
    border-radius: 26px;
    background: rgb(255, 244, 214);
}

.mission-card-description {
    color: rgb(66, 66, 66);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}




/* Develop Limit Section */
#develop img {
    width: 100%;
}

#develop {
    align-items: center;
}

.develop-limit-container {
    margin-left: 75px;
}

.develop-title,
.community-title {
    color: rgb(51, 51, 51);
    font-size: 2.2rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0px;
}

.develop-description,
.community-description {
    color: rgb(62, 62, 62);
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;

}

.develop-image img,
.community-image img {
    width: 100%;
}

.img1 {
    width: 250px;
    height: 300px;
    margin-bottom: -400px;
    margin-left: -120px;

}

/* Community style */
.community {
    display: flex;
    gap: 100px;
}

/* Footer */
footer {
    max-width: 1440px;
    height: 180px;
    background-color: rgb(11, 13, 23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-family: Lobster;
    font-size: 36px;
    font-weight: 400;
    line-height: 2.9rem;
    letter-spacing: 0.5px;
    text-align: left;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

footer p {
    color: rgb(217, 219, 225);
    font-family: Manrope;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

/* Small Device Responsive */
@media screen and (max-width:576px) {

    #header,
    .mission-container,
    .develop,
    .community {
        flex-direction: column;
    }

    #header img {
        width: 100%;
    }

    .banner-content,
    .mission-container,
    .develop-limit-container,
    .community {
        padding: 20px;
    }

    .banner-side-image,
    .develop-limit-container {
        margin: 0px;
    }

    .img1 {
        visibility: hidden;
    }

}

/* Medium Device Responsive */
@media screen and (min-width:576.1px) and (max-width:992px) {

    #header,
    .develop,
    .community {
        flex-direction: column;
    }

    #header img {
        width: 100%;
    }

    .banner-content,
    .develop-limit-container,
    .community {
        padding: 20px;
    }

    .img1 {
        visibility: hidden;
    }

    .banner-side-image,
    .develop-limit-container {
        margin: 0px;
    }

}